@font-face {
    font-family: 'Shantell Sans';
    font-style: italic;
    font-weight: 300 800;
    font-display: swap;
    src: url('assets/Shantell_Sans/ShantellSans-Italic-VariableFont_BNCE,INFM,SPAC,wght.ttf');
}

@font-face {
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url('assets/Shantell_Sans/ShantellSans-VariableFont_BNCE,INFM,SPAC,wght.ttf');
}

@import '@angular/cdk/overlay-prebuilt.css';
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

    a:hover {
        filter: brightness(1.5);
    }

    input {
        border-radius: 5px;
        @apply border-2 border-cyan-800 outline-none
    }

    input:focus-visible {
        @apply outline-none ring-2 ring-orange-300
    }

    input[type=radio],
    input[type=checkbox] {
        width: 20px;
        height: 20px;
        margin-right: 9px;
        position: relative;
        @apply border-2 border-cyan-800 appearance-none outline-none;
    }

    input[type=radio],
    input[type=radio]:checked::before {
        border-radius: 100%;
    }

    label:focus-within {
        @apply ring-2 ring-orange-300
    }

    fieldset:focus-within {
        @apply ring-2 ring-orange-300
    }

    /* input[type=radio]:focus-visible::before,
input[type=checkbox]:focus-visible::before {
    @apply bg-orange-400
} */

    input[type=radio]:checked::before,
    input[type=checkbox]:checked::before {
        content: "";
        width: 14px;
        height: 14px;
        position: absolute;
        top: 2px;
        left: 2px;
        @apply bg-orange-400
    }
}

@layer components {


    .btn {
        @apply bg-slate-200 font-bold py-2 px-4 rounded;
    }

    .btn:hover {
        @apply bg-slate-100;
    }

}

@layer utilities {

    .variation-wild {
        font-variation-settings:
            "BNCE" -40,
            "INFM" 100
    }
}