<div>
    <ul class="filters">
        <li *ngFor="let filter of activeFilters">
            @if (filter?.type == 'select') {
            <app-active-filter [filter]="filter" [formcontrol]="_fc[filter.title]"></app-active-filter>
            } @else if (filter.type == 'range') {
            <!-- todo: toggle to indclude or exclude fonts without this axis present -->
            <mat-label>{{filter.title}}</mat-label>
            <mat-slider [min]="filter.min_value" [max]="filter.max_value">
                <input matSliderStartThumb [formControl]="_fcg[filter.title].min">
                <input matSliderEndThumb [formControl]="_fcg[filter.title].max">
            </mat-slider>

            }

            <button mat-icon-button color="primary" (click)="removeFilter(filter.title)"
                aria-label="Example icon button with a menu icon">
                <mat-icon>delete</mat-icon>
            </button>
        </li>
        <app-searchable-filterlist [availableFilters]="availableFilters"
            (activate)="activateFilter($event)"></app-searchable-filterlist>
    </ul>
</div>