<div>
    <ul class="flex flew-row flex-wrap justify-around items-center">
        <li>
            <app-searchable-filterlist [availableFilters]="availableFilterNames" (activate)="activateFilter($event)">
                <mat-icon class="cursor-pointer">filter_list</mat-icon>
            </app-searchable-filterlist>
        </li>
        <li *ngFor="let filter of activeFilters">
            <div class="bg-orange-300 rounded-lg flex flex-row flex-nowrap" [formGroup]="fg">
                @if (filter.rendering === 'select') {
                <app-select-filter [filter]="filter" [formControlName]="filter.title"></app-select-filter>
                }@else if (filter.rendering === 'rangeflag') {
                <app-range-filter class="pr-4 pl-4" [filter]="filter" flag="'Include discrete weights'"
                    [formControlName]="filter.title"></app-range-filter>
                } @else if (filter.rendering === 'range') {
                <app-range-filter class="pr-4 pl-4" [filter]="filter"
                    [formControlName]="filter.title"></app-range-filter>
                }
                <button class="h-7 w-7 -m-2 rounded-full bg-cyan-900 hover:bg-cyan-700 text-orange-50"><mat-icon
                        class="cursor-pointer" (click)="removeFilter(filter.title)">close</mat-icon></button>
            </div>
        </li>
    </ul>
</div>