<div>
    <ul class="filters">
        <li>
            <app-searchable-filterlist [availableFilters]="availableFilterNames"
                (activate)="activateFilter($event)"></app-searchable-filterlist>
        </li>
        <li *ngFor="let filter of activeFilters">
            <mat-card>
                <mat-card-header class="stretch">
                    <mat-card-title>{{filter.caption}}</mat-card-title>
                    <button mat-stroked-button color="primary">
                        <mat-icon (click)="removeFilter(filter.title)">delete</mat-icon>
                    </button>
                </mat-card-header>
                @if (filter?.type == 'select') {
                <app-select-filter [filter]="filter" [formcontrol]="$any(fg.get(filter.title))"></app-select-filter>
                } @else if (filter.type == 'range') {
                    <app-range-filter [filter]="filter" [fg]="$any(fg.get(filter.title))"></app-range-filter>
                }
            </mat-card>
        </li>
    </ul>
</div>