.scrollwrap {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .classifier {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        min-height: 100%;

        .specimen-wide {
            font-size: 40pt;
            overflow-y: visible;
            overflow-x: hidden;
            overflow-wrap: break-word;
            letter-spacing: 10pt;
            flex-basis: 400px;
            flex-grow: 0.2;
            padding:20px;
        }

        .question-wrapper {
            flex-grow: 0.8;
            flex-basis: 450px;
        }


        .questions {
            flex-grow: 0.8;
            display: grid;
            grid-template-columns: min(300px) 1fr;

            li.question {
                display: contents;
                list-style: none;
            }

            .sample {
                align-self: center;
                justify-self: right;
                grid-column: 1 / 2;
                font-size: 100px;
                line-height: 100px;
            }

            .question-text {
                align-self: center;
                justify-self: left;
                grid-column: 2 / 3;
            }


        }
    }
}