<div class="filter">
    <mat-form-field>
        <mat-label>{{filter.title}}</mat-label>
        <mat-select [formControl]="fc" multiple #daSelect>
            @if(filter) {
            <mat-select-trigger>
                @for(item of fc.value; track item) {
                <mat-icon [svgIcon]="filter.title + '-' + item"></mat-icon>
                }
            </mat-select-trigger>
            }
            @for (item of filter.items; track item) {
            <mat-option [value]="item">
                <mat-icon [svgIcon]="filter.title + '-' + item"></mat-icon>{{item}}
            </mat-option>
            }
        </mat-select>
    </mat-form-field>
</div>