<div >
    <h5 class="text-2xl font-semibold mb-2 ">
        <a class="variation-wild text-cyan-700" [href]="'https://fonts.google.com/specimen/'+font.name+'/tester'">{{font.name}}</a>
        <!-- <span class="axes"> -->
        @for( axis of font.axes; track axis.tag) {
        <div class="align-text-bottom ml-2 text-sm inline-flex flex-row items-center bg-orange-300 rounded-md">
            <span class="p-1">{{axis.tag}}</span>
            <div class="p-1 text-xs leading-none font-extrabold flex flex-col justify-stretch">
                <b>{{axis.max_value}}</b>
                <b>{{axis.min_value}}</b>
            </div>
        </div>
        }
        <!-- </span> -->
    </h5>
    <div class="text-xl">
        <span [style]="'font-family: \''+font.name+'\', \'Tofu\''">
            @if(customText) {
                <span [style]="customStyle">{{customText}}</span>
            } @else {
            &excl;&quot;&num;&dollar;&percnt;&amp;&bsol;&apos;&lpar;&rpar;&ast;&plus;&comma;&#x2D;&period;&sol;&#x30;&#x31;&#x32;&#x33;&#x34;&#x35;&#x36;&#x37;&#x38;&#x39;&colon;&semi;&lt;&equals;&gt;&quest;&commat;&#x41;&#x42;&#x43;&#x44;&#x45;&#x46;&#x47;&#x48;&#x49;&#x4A;&#x4B;&#x4C;&#x4D;&#x4E;&#x4F;&#x50;&#x51;&#x52;&#x53;&#x54;&#x55;&#x56;&#x57;&#x58;&#x59;&#x5A;&lsqb;&bsol;&bsol;&rsqb;&Hat;&lowbar;&grave;&#x61;&#x62;&#x63;&#x64;&#x65;&#x66;&#x67;&#x68;&#x69;&#x6A;&#x6B;&#x6C;&#x6D;&#x6E;&#x6F;&#x70;&#x71;&#x72;&#x73;&#x74;&#x75;&#x76;&#x77;&#x78;&#x79;&#x7A;&lcub;&vert;&rcub;&#x7E;
            }
        </span>
    </div>
    <a [routerLink]="'classify/'+font.name"><i class="material-icons">mode_edit</i></a>
</div>