.axes {
    display: inline-flex;
    flex-flow: row wrap;
    gap: 10px;
}

.axis {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 3px;
    margin: 3px;
    border-radius: 10px;

    .axis-tag {
        margin: 0 5px;
        font-size: 8pt;
    }

    .axis-values {
        font-size: 6pt;
        display: flex;
        flex-flow: column nowrap;
    }
}