<!-- This button triggers the overlay and is it's origin -->
<button class="btn" cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="toggle()" type="button">
    <ng-content></ng-content>
</button>

<!-- This template displays the overlay content and is connected to the button -->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen"
    (overlayOutsideClick)="$event.stopPropagation(); isOpen=false" cdkConnectedOverlayPanelClass="">
    <ul class="p-3 bg-orange-100 flex flex-row flex-wrap gap-3">
        @for (option of availableFilters; track option) {
        <button class="btn w-64 flex flex-col p-0" (click)="select(option.name)">
            <mat-icon class="w-64 h-32" [svgIcon]="option.name"></mat-icon>
            {{option.caption}}
        </button>
        }
    </ul>
</ng-template>