.option-list {
    padding: 0;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    gap: 5px;

    .fontClasses {
        height: 100px;
        width: 200px;
    }

    button {
        border: solid 2px gray;
        border-radius: 4px;
        background: none;
        box-shadow: none;
        background-color: white;

        &:hover {
            background-color: whitesmoke;
        }
    }
}

.fontClassButton {
    display: flex;
    flex-flow: column;

}

// no idea how to properly style this using material colors